include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
recursive-exclude {{cookiecutter.plugin_name}}/* *pyc
recursive-include {{cookiecutter.plugin_name}}/static *.*
recursive-include {{cookiecutter.plugin_name}}/build *.json
recursive-exclude {{cookiecutter.plugin_name}}/assets *
