include AUTHORS.rst
include CONTRIBUTING.rst
include CHANGELOG.rst
include LICENSE
include README.rst
include requirements.txt
recursive-exclude plugin_template/* *pyc
recursive-include plugin_template/static *.*
recursive-include plugin_template/build *.json
recursive-exclude plugin_template/assets *
