# Packages
*.egg-info

# Virtual environments
.venv
Pipfile

# Node
node_modules

# Webpack build files
**/build/*
**/static/*

# Ignore strange OSX icon files. (Note there are special characters after 'Icon')
# see http://stackoverflow.com/a/30755378
Icon

# Mac Finder files
.DS_Store
